body {
  background-color: #242453;
  color: white;
}

.verte__guide {
  cursor: pointer;
}

button {
  padding: 10px 20px;
  border-radius: 15px;
  border: 1px solid white;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1em;
  cursor: pointer;
  transition: all 0.3s;
}

button:focus {
  outline: none;
}

button:hover {
  background: lightgray;
  border-color: lightgray;
}
